*{
	padding: 0;
	margin: 0;
}
/*注意字体文件的位置，相对于css文件*/
@font-face{
	font-family: shaonv;
	src: url(../font/hksn.ttf);
}
h1{
	color: #00F;
	text-decoration: underline;
}
li a{
	text-transform: capitalize;
}
h2{
	font: bold 14px shaonv;
	text-indent: 1.5em;
}
p{
	font-size: 12px;
	font-family: shaonv;
	font-weight: 700;
	color: #FF0;
	background-color: #000;
	/*text-align，水平对齐，justify只能用在连续文本，有br失效*/
	text-align: center; 
	/*word-spacing, 字间隔，象形文字不能应用*/
	word-spacing: 2em;
	/*white-space, pre、pre-wrap、pre-line都换行，nowrap强制不换行*/
	white-space: pre-wrap;
	/*lin-height, 缩放因子相对于元素的字体大小*/
	line-height: 2em;
}
img{
	border: red 2px solid;
}

/*浏览器居中*/
/*第一种居中，margin:auto;*/
.center_1{
	background-color: #F00;
	max-width: 960px;
	margin: 0 auto 10px;
}
.container_2{
	position: relative;
}
/*绝对定位脱离了文档流*/
.center_2{
	width: 960px;
	background-color: #F00;
	position: relative;
	left: 50%;
	margin-left: -480px;
	text-align: center;
	margin-bottom: 10px;
}
.container_3{
	position: relative;
}
.center_3{
	background-color: red;
	position: relative;
	max-width: 960px;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: 0 auto 10px;
	text-align: right;
}

/*圆角矩形*/
.circle_1{
	width: 300px;
	margin: 10px auto;
}
/*一个div包含多个小div,从上到下*/
.c1{
	margin: 0 5px;
	border-top: solid 1px black; 
}
.c2{
	margin: 0 3px;
	border-left: solid 2px black;
	border-right: solid 2px black;
	height: 1px;
}
.c3{
	margin: 0 2px;
	border-left: solid 1px black;
	border-right: solid 1px black;
	height: 1px;
}
.c4{
	margin: 0 1px;
	border-left: solid 1px black;
	border-right: solid 1px black;
	height: 2px;
}
.content{
	border-left: solid 1px black;
	border-right: solid 1px black;
}

.circle_2{
	width: 150px;
	margin: 10px auto;
}
.c2_1{
	margin: 0 5px;
	border-top: solid 1px black;
}
.c2_2{
	margin: 0 3px;
	border-left: solid 2px black;
	border-right: solid 2px black;
	height: 1px;
}
.c2_3{
	margin: 0 2px;
	border-left: solid 1px black;
	border-right: solid 1px black;
	height: 1px
}
.c2_4{
	margin: 0 1px;
	border-left: solid 1px black;
	border-right: solid 1px black;
	height: 2px;
}
.c2_content{
	border-left: solid 1px black;
	border-right: solid 1px black;
	height: 100px;
}

/*两列布局，左边固定，右边自适应*/
.diva{
	width: 100px;
	height: 100px;
	background-color: red;
}
.divb{
	height: 100px;
	background-color: blue;
}
.divc{
	background-color: yellow;
	height: 100px;
	margin-bottom: 10px;
}
/*第一种，浮动布局 百分比宽度*/
.left1{
	float: left;
}
.right1{
	width: 100%;
}
.div-c1{
	clear: left;
}
/*第二种，浮动布局，外边距*/
.left2{
	float: left;
}
.right2{
	margin-left: 100px; /*左边栏宽度*/
}
.div-c2{
	clear: left;
}
/*第三种，定位布局，外边距*/
.left-right3{
	position: relative;
}
.left3{
	position: absolute;
	left: 0;
}
.right3{
	margin-left: 100px;
}
/*第四种，flex布局，*/
.left-right4{
	display: flex;
	display: -webkit-flex;
}
.right4{
	flex: 1;
	-webkit-flex: 1;
}
/*第五种，table布局*/
.left-right5{
	display: table;
	width: 100%;
}
.left5{
	display: table-cell;
}
.right5{
	display: table-cell;
}

/*三列布局*/
/*第一种，绝对定位，自动宽度, 非第一行注意定位位置*/
.col-3{
	background-color: red;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
}
.col{
	background-color: blue;
	height: 200px;
	width: 200px;
	margin: 10px;
}
.col-left{
	position: absolute;
	left: 0;
	top: 0;
}
.col-center{
	margin: 10px 220px;
	width: auto;
}
.col-right{
	position: absolute;
	right: 0;
	top: 0;
}
.col-left2, .col-right2{
	top: 210px;
}
.col-left3, .col-right3{
	top: 420px;
}
/*第二种，浮动，浮动元素外边距不叠加*/
.col-3-2{
	width: 100%;
	background-color: red;
	overflow: hidden;
	margin-bottom: 10px;
}
.col-2{
	width: 200px;
	height: 200px;
	background-color: blue;
	margin: 10px;
}
.col-left-2{
	float: left;
}
.col-right-2{
	float: right;
}
.col-center-2{
	width: auto;
	margin: 10px 220px;
}
.col-margin{
	margin-top: 0;
}

/*数量改变*/
.change-num{
	background-color: red;
	width: 100%;
	overflow: auto;
	margin-bottom: 10px;
}
.num-div{
	background-color: blue;
	width: 200px;
	height: 100px;
	margin: 10px;
}
.num1{
	float: left;
}
.num2{
	display: inline-block;
}