*{
	padding: 0;
	margin: 0;
}
/*注意字体文件的位置，相对于css文件*/
@font-face{
	font-family: shaonv;
	src: url(../font/hksn.ttf);
}
h1{
	color: #00F;
	text-decoration: underline;
}
li a{
	text-transform: capitalize;
}
h2{
	font: bold 14px shaonv;
	text-indent: 1.5em;
}
p{
	font-size: 12px;
	font-family: shaonv;
	font-weight: 700;
	color: #FF0;
	background-color: #000;
	/*text-align，水平对齐，justify只能用在连续文本，有br失效*/
	text-align: center; 
	/*word-spacing, 字间隔，象形文字不能应用*/
	word-spacing: 2em;
	/*white-space, pre、pre-wrap、pre-line都换行，nowrap强制不换行*/
	white-space: pre-wrap;
	/*lin-height, 缩放因子相对于元素的字体大小*/
	line-height: 2em;
}
img{
	border: red 2px solid;
}
/*第一种居中，margin:auto;*/
.center_1{
	background-color: #F00;
	max-width: 960px;
	margin: 0 auto 10px;
}
.container_2{
	position: relative;
}
/*绝对定位脱离了文档流*/
.center_2{
	width: 960px;
	background-color: #F00;
	position: relative;
	left: 50%;
	margin-left: -480px;
	text-align: center;
	margin-bottom: 10px;
}
.container_3{
	position: relative;
}
.center_3{
	background-color: red;
	position: relative;
	max-width: 960px;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: 0 auto 10px;
	text-align: right;
}
.circle{
	width: 300px;
}
/*一个div包含多个小div,从上到下*/
.c1{
	margin: 0 5px;
	border-top: solid 1px black;
}
.c2{
	margin: 0 3px;
	border-left: solid 2px black;
	border-right: solid 2px black;
	height: 1px;
}
.c3{
	margin: 0 2px;
	border-left: solid 1px black;
	border-right: solid 1px black;
	height: 1px;
}
.c4{
	margin: 0 1px;
	border-left: solid 1px black;
	border-right: solid 1px black;
	height: 2px;
}
.content{
	border-left: solid 1px black;
	border-right: solid 1px black;
}